<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PraksaHDmp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PraksaHDmp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    />
</head>
<body>
    <header>
        <nav class="sidebar">
            <div class="sidebar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HAMIT Praksa</a>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="sidebar-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="sidebar-nav-link" data-bs-toggle="collapse" href="#collapse1">Šifranici</a>
                    <div class="collapse" id="collapse1">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="sidebar-nav-link" data-bs-toggle="collapse" href="#collapseZaposlenici">Korisnici</a>
                                <div class="collapse" id="collapseZaposlenici">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Novi korisnik</a></li>
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Pregled korisnika</a></li>
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Pregled neaktivnih korisnika</a></li>
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Pregled korisničkih uloga</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="sidebar-nav-link" data-bs-toggle="collapse" href="#collapseZgrade">Zgrade</a>
                                <div class="collapse" id="collapseZgrade">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Popis zgrada</a></li>
                                        <li class="nav-item"><a class="sidebar-nav-link" href="#">Dodaj zgradu</a></li>
                                    </ul>
                                </div>
                            </li>
                            
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Sobe</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="sidebar-nav-link" data-bs-toggle="collapse" href="#collapse2">Aplikacije</a>
                    <div class="collapse" id="collapse2">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Action</a></li>
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Another action</a></li>
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="sidebar-nav-link" data-bs-toggle="collapse" href="#collapse3">Oprema</a>
                    <div class="collapse" id="collapse3">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Action</a></li>
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Another action</a></li>
                            <li class="nav-item"><a class="sidebar-nav-link" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="sidebar-nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - HAMIT Praksa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
